.meter {
  width: 250px;
}

.meterbar {
  height: 5px;
  width: 0%;
  background: #FA1505;
  border-radius: 15px;
}

#password {
  
  width: 250px; 
  border-radius: 2px;
}



h3 {
  font-family: Georgia;
}